<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">

        <link rel="stylesheet" href="../../assets/css/styles.css">
        <link rel="stylesheet" href="../../assets/css/account/account.css">
        <link rel="stylesheet" href="../../assets/css/elements/header.css">
        <link rel="stylesheet" href="../../assets/css/elements/footer.css">

        <!-- Import Font -->
        <link rel="stylesheet" href="../../assets/css/utils/fonts.css">

        <title>Account</title>
    </head>
    <body class="dark-mode">
        <header>
            <div class="header-logo">
                <span class="iconify header-icons" data-icon="mdi:cow"></span>
                <h1 class="header-text">COWCARD</h1>
            </div>
        </header>
        <div class="container">
            <div class="profil-container">
                <div class="profil-img">
                    <img src="../../assets/img/men.svg" alt="">
                </div>
                <div class="profil-name">
                    <h1>John Doe</h1>
                </div>
            </div>
            <div class="parameters-container">
                <ul>
                    PARAMETRES
                    <li style="margin-top: 2vh;"><span class="iconify" data-icon="mdi:earth"></span> Région</li>
                    <li><span class="iconify" data-icon="mdi:translate"></span> Langages</li>
                    <li id="disconnect"><span class="iconify" data-icon="mdi:power"></span> Me Déconnecter</li>
                </ul>
                <ul>
                    AUTRES
                    <li style="margin-top: 2vh;"><span class="iconify" data-icon="mdi:help-circle-outline"></span> Aide</li>
                    <li><span class="iconify" data-icon="mdi:star-outline"></span> Evaluer</li>
                </ul>
            </div>
            <div class="sub-footer">

            </div>
        </div>
        <footer>
            <a href="../../views/user/userCards.html">
                <div class="footer-element">
                    <span class="iconify footer-icons" data-icon="mdi:credit-card-outline"></span>
                    <h1>Cartes</h1>
                </div>
            </a>
            <a href="../../views/teams/teams.html">
                <div class="footer-element">
                    <span class="iconify footer-icons" data-icon="mdi:account-group-outline"></span>
                    <h1>Equipes</h1>
                </div>
            </a>
            <a href="account.html">
                <div class="footer-element">
                    <span class="iconify footer-icons" data-icon="mdi:account-outline"></span>
                    <h1>Compte</h1>
                </div>
            </a>
        </footer>
        <!-- Import JS Librairies -->
        <script src="../../assets/librairies/mdl/material.min.js"></script>
        <script src="../../assets/librairies/iconify/index.js"></script>

        <!-- Import JS -->
        <script src="../../assets/js/index.js"></script>
    </body>
</html>