<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">

        <link rel="stylesheet" href="../../assets/css/styles.css">
        <link rel="stylesheet" href="../../assets/css/team/cards.css">

        <!-- Import parts -->
        <link rel="stylesheet" href="../../assets/css/elements/header.css">
        <link rel="stylesheet" href="../../assets/css/elements/footer.css">

        <!-- Import Font -->
        <link rel="stylesheet" href="../../assets/css/utils/fonts.css">

    </head>
    <body class="dark-mode">
        <header>
            <div class="header-logo">
                <span class="iconify header-icons" data-icon="mdi:cow"></span>
                <h1 class="header-text">COWCARD</h1>
            </div>
        </header>
        <div class="container">
            <div class="head-cards">
                <div class="head-container">
                    <h1 class="page-title">Cartes Famille</h1>
                    <div class="btn-container">
                        <div class="btn-back">
                            <span class="iconify btn-back" data-icon="mdi:arrow-left-thin"></span>
                        </div>
                        <div class="btn-add-card">
                            <span class="iconify btn-add-icons" data-icon="mdi:plus"></span>
                        </div>
                    </div>
                </div>
                <div class="tags-container">
                    <div class="selected">
                        <h1 class="tags-title">Tous</h1>
                    </div>
                    <div class="not-selected">
                        <h1 class="tags-title">Hypermarchés</h1>
                    </div>
                    <div class="not-selected">
                        <h1 class="tags-title">Vêtements</h1>
                    </div>
                    <div class="not-selected">
                        <h1 class="tags-title">Electronique</h1>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="cards">
                    <img src="../../assets/img/logo/carrefour.svg" alt="logo">
                </div>
                <div class="cards">
                    <img src="../../assets/img/logo/fnac.svg" alt="logo">
                </div>
                <div class="cards">
                    <img src="../../assets/img/logo/burgerking.svg" alt="logo">
                </div>
                <div class="cards">
                    <img src="../../assets/img/logo/mcdo.svg" alt="logo">
                </div>
                <div class="cards">
                    <img src="../../assets/img/logo/Adidas.svg" alt="logo">
                </div>
            </div>
        </div>
        <footer>
            <a href="../../views/user/userCards.html">
                <div class="footer-element">
                    <span class="iconify footer-icons" data-icon="mdi:credit-card-outline"></span>
                    <h1>Cartes</h1>
                </div>
            </a>
            <a href="../../views/teams/teams.html">
                <div class="footer-element">
                    <span class="iconify footer-icons" data-icon="mdi:account-group-outline"></span>
                    <h1>Equipes</h1>
                </div>
            </a>
            <a href="account.html">
                <div class="footer-element">
                    <span class="iconify footer-icons" data-icon="mdi:account-outline"></span>
                    <h1>Compte</h1>
                </div>
            </a>
        </footer>
        <script src="../../assets/js/index.js"></script>
        <script src="../../assets/js/cards.js"></script>
        <script src="../../assets/librairies/iconify/index.js"></script>
        <script src="../../assets/librairies/mdl/material.min.js"></script>
    </body>
</html>